body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #344953;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 24px;
}

.filtro, .formulario, .total-contatos{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

input[type='text'], input[type='email'], button {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #b6b4b4;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #021e25;
    color: white;
}

